.story-container {
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 45px;
  height: 86px;
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.story-image {
  height: 78px;
  width: 78px;
  border-radius: 45px;
}
